@using ServiceTitanWebApp.ViewModels
@model NewUserViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<fieldset id="common-fields">*@
                <div id="user-email" class="form-group">
                    <label asp-for="NewUser.UserEmail" class="control-label"></label>
                    <input asp-for="NewUser.UserEmail" class="form-control" />
                    <span asp-validation-for="NewUser.UserEmail" class="text-danger"></span>
                </div>
                <div id="first-name" class="form-group">
                    <label asp-for="NewUser.FirstName" class="control-label"></label>
                    <input asp-for="NewUser.FirstName" class="form-control" />
                    <span asp-validation-for="NewUser.FirstName" class="text-danger"></span>
                </div>
                <div id="last-name" class="form-group">
                    <label asp-for="NewUser.LastName" class="control-label"></label>
                    <input asp-for="NewUser.LastName" class="form-control" />
                    <span asp-validation-for="NewUser.LastName" class="text-danger"></span>
                </div>
                <div id="address" class="form-group">
                    <label asp-for="NewUser.Address" class="control-label"></label>
                    <input asp-for="NewUser.Address" class="form-control" />
                    <span asp-validation-for="NewUser.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewUser.RoleId" class="control-label"></label>
                    <select id="role-combo" asp-for="NewUser.RoleId" class ="form-control" asp-items="ViewBag.RoleId"></select>
                </div>
            @*</fieldset>*@
            

            <fieldset id="manager-fields" class="d-none">
                <div class="form-group">
                    <label asp-for="Category.CategoryID" class="control-label"></label>
                    <select id="role-combo" asp-for="Category.CategoryID" class="form-control" asp-items="@Model.Categories.Select(                        
                            c => new SelectListItem{Text=c.CategoryName, Value=c.CategoryID.ToString()})">
                    </select>
                </div>

            </fieldset>

            <fieldset id="technicans-fields" class="d-none">
                <div class="form-group">
                    <label asp-for="Service.ServiceID" class="control-label"></label>
                    <select id="role-combo" asp-for="Service.ServiceID" class="form-control" asp-items="@Model.Services.Select(
                            s => new SelectListItem{Text=s.ServiceName, Value=s.ServiceID.ToString()})">
                    </select>
                </div>

            </fieldset>

            @* the button should be at the end *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>

        const MANAGER = 2;
        const TECH = 3;
        const USER = 4;

        $("#role-combo").change(function () {
            const selectedRoleId = $(this).val();
            switch (parseInt(selectedRoleId)) {

                case 2:
                    $("#manager-fields").removeClass("d-none");
                    $("#technicans-fields").addClass("d-none");
                    break;

                case 3:
                    $("#technicans-fields").removeClass("d-none");
                    $("#manager-fields").addClass("d-none");
                    break;

                default:
                    $("#manager-fields").addClass("d-none");
                    $("#technicans-fields").addClass("d-none");
                    break;

            }
        })
    </script>
}
