@model ServiceTitanBusinessObjects.ServiceRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServiceRequestCreate</title>
</head>
<body>

<h4>ServiceRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ServiceRequestCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestDescription" class="control-label"></label>
                <input asp-for="RequestDescription" class="form-control" />
                <span asp-validation-for="RequestDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestPrice" class="control-label"></label>
                <input asp-for="RequestPrice" class="form-control" />
                <span asp-validation-for="RequestPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestDateNeeded" class="control-label"></label>
                <input asp-for="RequestDateNeeded" class="form-control" />
                <span asp-validation-for="RequestDateNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TechnicianId" class="control-label"></label>
                <select asp-for="TechnicianId" class ="form-control" asp-items="ViewBag.TechnicianId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" class ="form-control" asp-items="ViewBag.ServiceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
